.Container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  z-index: 0;
}
.Background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--accent-Color);
  opacity: 0.4  ;
  border-radius: 100%;
}
.Image {
  position: relative;
  width: 80%;
  height: 80%;
  border: 4px solid var(--accent-Color);
  border-radius: 100%;
  overflow: hidden;
  background-color: white;
  z-index: 1;
}
.Image img {
  object-fit: cover;
}
