.Container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

/*------------------ Extra Small devices 600px and down --------------*/
@media screen and (max-width: 600px) {
}

/*------------------ portrait tablets and large phones 600px and up --------------*/
@media screen and (min-width: 600px) {
}

/*------------------ Landscape tablets 768px and up --------------*/
@media screen and (min-width: 768px) {
  .CardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*------------------ Laptops/desktops 992px and up --------------*/
@media screen and (min-width: 992px) {
  .CardsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
/*------------------ Large Laptops/desktops 1200px and up --------------*/
@media screen and (min-width: 1200px) {
}

/*------------------ Large desktops 1400px and up --------------*/
@media screen and (min-width: 1400px) {
}
