:root {
  --max-width: 70rem;
  --page-margin: min(30vw, 5rem) min(5vw, 5rem);
  --small-Subtitle-Size: min(8vw, 0.9rem);
  --large-Subtitle-Size: min(8vw, 1.5rem);
  --title-Size: min(8vw, 3rem);
  --small-Title: min(8vw, 1.6rem);
  --description-Size: min(8vw, 1rem);
  --accent-Color: #ffcc73;
  --foreground-Color: #191d28;
  --dark-foreground-Color: #171922;
  --title-Font: ArgentumB;
  --description-Font: ArgentumEL;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #191d28;
  color: white;
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
}